@model Usuario
<div class="row justify-content-md-center">
    <form asp-action="Cadastro" method="POST" class="col-md-4 needs-validation">

            <legend>Usuario</legend>
            <div class="form-group">
                <label asp-for="Usuario.Nome">Nome</label>
                <input asp-for="Usuario.Nome" class="form-control" required/>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Login">Login</label>
                <input asp-for="Usuario.Login" class="form-control" required/>
            </div>
>
            <div class="form-group">
                <label asp-for="Usuario.Senha">Senha</label>
                <input type="password" asp-for="Usuario.Senha" class="form-control" required/>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.tipo">Tipo</label>
                <select asp-for="Usuario.tipo" class="form-control" required>
                        <option value="1">Usuario</option>
                        <option value="0">Administrador</option>

                </select>
            </div>
        <input type="submit" value="Salvar" class="btn btn-primary"/>
    </form>
</div>